*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}
.center{
    max-width: 1480px;
    width: 90%;
    margin: 0 auto;
}
.burger{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 15px 20px rgb(0, 0, 0,0.1);
    margin-top: 37px;
}
.burger .line{
    display: block;
    width: 18px;
    height: 3px;
    background-color: #000000;
    margin: 0 auto;
}
.burger .line:nth-child(2){
    margin-top: 5px;
    margin-bottom: 5px;
}
.burger .line:first-child{
    margin-top: 22px;
}
header{
    position: relative;
    height: 240px;
}
.logo{
    display: inline-block;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    box-shadow: 0 0 25px 35px rgb(0, 0, 0,0.1);
    position: absolute;
    left: 37%;
    top: -205px;
    text-align: center;
}

.logo .name{
    margin-top: 262px;
    display: inline-block;
    font-size: 48px;
    color: #43a9ff;
    text-transform: uppercase;
    font-weight: 600;
}
.logo p{
    font-weight: bold;
    font-size: 18px;
    color: #e4e6e8;
}
.search{
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 67px;
}
.search i{
    font-size: 21px;
}
.container2{
    height: 1000px;
    background-image: url('./images/background_head.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    text-align: center;
}
.container2 h2{
text-align: center;
font-size: 48px;
margin-top: 145px;
color: #000000;
}
.container2 h6{
    text-align: center;
    font-size: 18px;
    color:#d2d5d8;
    margin-top: 29px;
}
.container2 a{
    display: inline-block;
    text-decoration:none;
    color:#43a9ff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 20px 40px;
    margin-top: 76px;
    border-radius: 30px;
    box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.06);
    transition: 0.2s ease-in-out;
}

.container2 a:hover{
    box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.3);   
    transition: 0.2s ease-in-out;
}
.container2 a:focus{
    box-shadow: 0 0 15px 20px rgba(0,0,0,0.5);
}
.stel .bl{
    display: inline-block;
    width: 19%;
    text-align: center;
    margin: 0 2.3%;
    font-size: 18px;
    margin-top: 110px;
}
.bl h5{
    font-size: 18px;
}
.bl h6{
    font-size: 14px;
}
.bl i{
    color:#43a9ff;
    margin-bottom: 50px;
    font-size: 48px;
}
.container3{
    text-align: center;
}
.container3 h6{
    text-align: center;
    font-size: 18px;
    color:#d2d5d8;
    margin-top: 110px;
}
.container3 h2{
    text-align: center;
    font-size: 48px;
    color: #000000;
    margin-top: 23px;
}
.container3 a{
    display: inline-block;
    text-decoration:none;
    color:#43a9ff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 20px 40px;
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.06);
    transition:  0.5s ease-in-out;
}
.container3 a:hover{
    box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.3);   
    transition: 0.2s ease-in-out;
}
.container3 a:focus{
    box-shadow: 0 0 15px 20px rgba(0,0,0,0.5);
}

.container4{
    height: 1128px;
    max-width: 100%;
    position: relative;
    background-color: #f7f8fb;
    margin-top: 120px;

}
.stel2, .stel3{
    position: relative;
    height: 50%;
}

.stel2 .blk, .stel3 .blk{
    position: absolute;
    left: 0;
    width: 50%;
}

.stel2 .text, .stel3 .images{
    right:0;
    left: auto;
}

.blk h2{
    color: #000000;
    font-size: 48px;
    margin-top: 120px;
    margin-left: 128px;
}
.blk h6{
    color: #bfc4ca;
    font-size: 16px;
    margin-top: 60px;
    margin-left: 128px;
}

.container5{
    background-image: url(./images/Snowflake.png);
    background-repeat: no-repeat;
    height: 630px;
    background-size: 35%;
    height: 1500px;
    max-width: 100%;
    position: relative;
    background-color: ffffff;
    margin-top: 120px;

}
.stelag, .stelag2{
    position: relative;
    height: 40%;
    width: 70%;
    margin-left: 15%;
}

.stelag .p1, .stelag2 .op2{
    position: absolute;
    left: 0;
    width: 50%;
    margin-top: 5%;
}

.stelag .op1, .stelag2 .p2{
    position: absolute;
    right: 0;
    left: 846px;
    margin-top: 65px;
}
.p2{
    background-image: url(./images/Snowflake.png);
    background-repeat: no-repeat;
    height: 630px;
    size: 75%;
}
.op1 h2, .op2 h2{
    color: #43a9ff;
    font-size: 48px;
    margin-top: 120px;
    margin-left: 45px;
}
.op1 h6, .op2 h6{
    color: #c0c5c9;
    font-size: 16px;
    margin-top: 60px;
    margin-left: 45px;
}

.container6{
    background-image: url(./images/Snowflake.png);
    background-repeat: no-repeat;
    height: 630px;
    background-size: 35%;
    color: #ffffff;
    max-width: 100%;
    margin-top: 150px;
}
.leftcol{
    position: absolute;
    z-index: 0;
}
.rightcol{
    position: relative;
    z-index: 1075px;
    margin-left: 1075px;
    padding-top: 150px;
}
.rightcol h3{
    font-size: 48px;
    color: #fe3254;
    margin-bottom: 48px;
}
.rightcol h6{
    padding-top: 23px;
    font-size: 16px;
    color:#bbc0c6;
}
.rightcol h4{
    padding-top: 84px;
    font-size: 16px;
    color: #000000;
} 
.rightcol h5{
    padding-top: 15px;
    font-size: 16px;
    color: #ccd0d5;
} 
.container7 h6{
    font-size: 18px;
    color:#d2d5d8;
    margin-top: 137px;
}
.container7 h2{
    font-size: 48px;
    color: #000000;
    margin-top: 28px;
}
.container7 a{
    display: inline-block;
    text-decoration:none;
    color:#43a9ff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.06);
    margin-top: 122px;
}
.container7 a:hover{
    box-shadow: 0 0 15px 20px rgba(0, 0, 0, 0.3);   
    transition: 0.2s ease-in-out;
}
.container7{
    height: 260px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    text-align: center;
    
}
footer{
    height: 1130px;
    background-image: url(./images/landscape.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
}